@model IEnumerable<RMC_Donation.Models.user>

@{
    ViewBag.Title = "ManageUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap4.min.css">
    <style>
        body {
            display: block;
        }
    </style>
</head>

<div class="content-wrapper" style="max-width:1200px;">
    <h2 class="myitemsh">Manage Users</h2>
    <table class="table" id="myUsersTable" style="width:100%;">
        <thead>
            <tr>
                <th class="text-center">User Photo</th>
                <th class="text-center">User Name</th>
                <th class="text-center">Date of Birth</th>
                <th class="text-center">Profession</th>
                <th class="text-center">Email</th>
                <th class="text-center">Mobile</th>
                <th class="text-center">Created At</th>
                <th class="text-center">Last Login</th>
                <th class="text-center">Role</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="text-align:center;">
                        <img src="@item.profilephoto" alt="User Photo" height="70" width="70" style="border-radius:50%;" />
                    </td>
                    <td>
                        <a href="@Url.Action("UserDetails", "Users", new { userId = item.id })">@Html.DisplayFor(modelItem => item.fullname)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.dob)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.profession)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.mobile_no)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.createdat)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.lastlogin)
                    </td>
                    <td>
                        @if (item.status == 1)
                        {
                            <label class="custom-checkbox" style="display: flex; align-items: center; justify-content: center;">
                                <input type="checkbox" checked="checked" id="status_@item.id" data-id="@item.id" />
                                <div class="checkmark"></div>
                            </label>
                        }
                        else if (item.status == 2)
                        {
                            <span style="font-weight: bold;">Admin</span>
                            <i class="fa fa-user-shield" style="color: blue;"></i>
                        }
                        else
                        {
                            <label class="custom-checkbox" style="display: flex; align-items: center; justify-content: center;">
                                <input type="checkbox" id="status_@item.id" data-id="@item.id" />
                                <div class="checkmark"></div>
                            </label>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts{
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script>
        jQuery.noConflict();
        (function ($) {
            $(document).ready(function () {
                $('#myUsersTable').DataTable({
                    "paging": true,
                    "searching": true,
                    "ordering": true,
                });
            });
        })(jQuery);
    </script>
    <script>
        $(document).ready(function () {
            $('input[type="checkbox"]').change(function () {
                var itemId = $(this).data('id');
                var isChecked = $(this).prop('checked');
                var confirmation = confirm("Are you sure you want to Enable/Disable User?");
                if (!confirmation) {
                    return;
                }
                $.ajax({
                    url: '/Admin/UpdateUserStatus',
                    type: 'POST',
                    data: { id: itemId, isChecked: isChecked },
                    success: function (result) {
                    },
                    error: function () {
                    }
                });
            });
        });
    </script>
}