@{ 
    bool isLoggedIn = true;
    if (string.IsNullOrWhiteSpace(User.Identity.Name))
    {
        isLoggedIn = false;
    }

    bool isAdmin = false;
    if (Session["user_role"] == "Admin")
    {
        isAdmin = true;
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <!--<button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>-->
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    @{
                        if (isLoggedIn)
                        {
                            <li>
                                <img src="@Request.Cookies["userProfile"].Value" height="50" width="50" alt="UserProfile" />
                            </li>
                            <li>@Html.ActionLink(User.Identity.Name, "Index", "Home")</li>
                            using (Html.BeginForm("EditUserProfile", "Users", FormMethod.Get))
                            {
                                @Html.AntiForgeryToken()
                                @Html.Hidden("userId", Session["user_id"])
                                <button type="submit" class="btn btn-warning">Edit User Profile</button>
                            }
                            <li>@Html.ActionLink("Add Items", "Additems", "Item")</li>
                            <li>@Html.ActionLink("My Items", "MyItems", "Item")</li>
                            if (isAdmin)
                            {
                                <li>@Html.ActionLink("ManageItems", "ManageItems", "Admin")</li>
                                <li>@Html.ActionLink("ManageUsers", "ManageUsers", "Admin")</li>
                            }
                            <li>@Html.ActionLink("Signout", "Signout", "Users")</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Login", "Login", "Users")</li>
                            <li>@Html.ActionLink("Register", "Signup", "Users")</li>
                        }
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
