@{ 
    bool isLoggedIn = true;
    if (string.IsNullOrWhiteSpace(User.Identity.Name))
    {
        isLoggedIn = false;
    }
    bool isAdmin = false;
    if (Session["user_role"] == "Admin")
    {
        isAdmin = true;
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - RMC-Donation</title>
    @Styles.Render("~/Content/css")
    <script src="https://kit.fontawesome.com/3055f91a99.js"></script>
</head>
<body>
    <header id="main-header">
        <div>
            <div>
                <a href="@Url.Action("Index", "Home", new { area = "" })" class="navbar-brand">
                    <img id="header-logo" src="~/Content/images/main.png" alt="RMC-Donation" height="50" width="50" />
                </a>
                <div id="search">
                    <form id="search-form" method="get" action="@Url.Action("Index", "Home")">
                        <input id="search-input" name="searchQuery" type="text" placeholder="Search" value="@Request.QueryString["searchQuery"]" />
                        <button type="submit" class="search-button">
                            <span id="search-icon" class="fas fa-search"></span>
                            <span id="search-icon1" class="fas fa-search"></span>
                        </button>
                    </form>
                </div>
                @{
                    if (isLoggedIn)
                    {
                        <img id="header-picture-menu" src="@Request.Cookies["userProfile"].Value" alt="Profile picture" onclick="toggleMobileButton()" />
                        <ul class="mobile-dropdown" id="mobile-dropdown">
                            <li>
                                <a href="#" class="menu-item">
                                    <span class="fas fa-user"></span>
                                    <span class="nav-item-text" style="display: inline-block; max-width: 20ch; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                        @User.Identity.Name
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("MyItems", "Item")" class="menu-item">
                                    <span class="fas fa-folder"></span>
                                    <span class="nav-item-text">My Items</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("AddItems", "Item")" class="menu-item">
                                    <span class="fas fa-plus-circle"></span>
                                    <span class="nav-item-text">Add Items</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Request")" class="menu-item">
                                    <span class="fas fa-envelope"></span>
                                    <span class="nav-item-text">My Requests</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("ItemRequests", "Request")" class="menu-item">
                                    <span class="fas fa-envelope"></span>
                                    <span class="nav-item-text">Item Requests</span>
                                </a>
                            </li>
                            @if (isAdmin)
                            {
                                <li>
                                    <a href="@Url.Action("ManageItems", "Admin")" class="menu-item">
                                        <span class="fas fa-wrench"></span>
                                        <span class="nav-item-text">Manage Items</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("ManageUsers", "Admin")" class="menu-item">
                                        <span class="fas fa-user-friends"></span>
                                        <span class="nav-item-text">Manage Users</span>
                                    </a>
                                </li>
                            }
                            <li>
                                <a href="@Url.Action("EditUserProfile", "Users")" class="menu-item">
                                    <span class="fas fa-edit"></span> <strong>Edit Profile</strong>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("ChangePassword", "Users")" class="menu-item">
                                    <span class="fas fa-lock"></span> <strong>Change Password</strong>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Signout", "Users")" class="menu-item">
                                    <span class="fas fa-sign-out-alt"></span> <strong>LogOut</strong>
                                </a>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <span id="header-picture-menu-bars" onclick="toggleMobileButton()">
                            <span class="fas fa-bars" style="color:darkblue"></span>
                        </span>
                        <ul class="mobile-dropdown" id="mobile-dropdown">
                            <li>
                                <a href="@Url.Action("Login", "Users")" class="menu-item"><span class="fas fa-key"></span> Login</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Signup", "Users")" class="menu-item"><span class="fas fa-user-plus"></span> SignUp</a>
                            </li>
                        </ul>
                    }
                }
                <nav>
                    <ul>
                        <li>
                            <a href="@Url.Action("Index", "Home", new { area = "" })" style="color:white;">
                                <div id="home" style="color:white;" class="@(HttpContext.Current.Request.Url.AbsolutePath == Url.Action("Index", "Home", new { area = "" }) ? "selected" : "")">
                                    <span class="fas fa-home"></span>
                                    <span class="nav-item-text">Home</span>
                                </div>
                            </a>
                        </li>
                        @{
                            if (isLoggedIn)
                            {
                                <li>
                                    <a href="@Url.Action("MyItems", "Item")" style="color: white;">
                                        <div id="myitems" class="@(HttpContext.Current.Request.Url.AbsolutePath == Url.Action("MyItems", "Item", new { area = "" }) ? "selected" : "")">
                                            <span class="fas fa-folder"></span>
                                            <span class="nav-item-text">My Items</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("AddItems", "Item")" style="color: white;">
                                        <div id="additem" class="@(HttpContext.Current.Request.Url.AbsolutePath == Url.Action("AddItems", "Item", new { area = "" }) ? "selected" : "")">
                                            <span class="fas fa-plus-circle"></span>
                                            <span class="nav-item-text">Add Items</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "Request")" style="color: white;">
                                        <div id="notifications" class="@(HttpContext.Current.Request.Url.AbsolutePath == Url.Action("Index", "Request", new { area = "" }) ? "selected" : "")">
                                            <span class="fas fa-envelope"></span>
                                            <span class="nav-item-text">My Requests</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("ItemRequests", "Request")" style="color: white;">
                                        <div id="notifications" class="@(HttpContext.Current.Request.Url.AbsolutePath == Url.Action("ItemRequests", "Request", new { area = "" }) ? "selected" : "")">
                                            <span class="fas fa-envelope"></span>
                                            <span class="nav-item-text">Item Requests</span>
                                        </div>
                                    </a>
                                </li>
                                if (isAdmin)
                                {
                                    <li>
                                        <a href="@Url.Action("ManageItems", "Admin")" style="color: white;">
                                            <div id="manageitems" class="@(HttpContext.Current.Request.Url.AbsolutePath == Url.Action("ManageItems", "Admin", new { area = "" }) ? "selected" : "")">
                                                <span class="fas fa-wrench"></span>
                                                <span class="nav-item-text">Manage Items</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("ManageUsers", "Admin")" style="color: white;">
                                            <div id="manageusers" class="@(HttpContext.Current.Request.Url.AbsolutePath == Url.Action("ManageUsers", "Admin", new { area = "" }) ? "selected" : "")">
                                                <span class="fas fa-user-friends"></span>
                                                <span class="nav-item-text">Manage Users</span>
                                            </div>
                                        </a>
                                    </li>
                                }
                                <li class="dropdown">
                                    <div class="dropbtn" onclick="toggleDropdown(this)">
                                        <img src="@Request.Cookies["userProfile"].Value" alt="Profile picture" height="50" width="50" />
                                        <span class="nav-item-text" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 12ch;">
                                            @User.Identity.Name<span class="fas fa-caret-down"></span>
                                        </span>
                                    </div>
                                    <div class="dropdown-content" style="display: none;">
                                        <div class="profile-image1">
                                            <img src="@Request.Cookies["userProfile"].Value" alt="Profile picture" />
                                            <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 18ch;font-size:14px;
                                                padding-top:5px;">
                                                @User.Identity.Name
                                            </p>
                                        </div>
                                        <a href="@Url.Action("EditUserProfile", "Users")" class="menu-item"><span class="fas fa-edit"></span> Edit Profile</a>
                                        <a href="@Url.Action("ChangePassword", "Users")" class="menu-item"><span class="fas fa-lock"></span> Change Password</a>
                                        <a href="@Url.Action("Signout", "Users")" class="menu-item"><span class="fas fa-sign-out-alt"></span> LogOut</a>
                                    </div>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a href="@Url.Action("Login", "Users")" style="color: white;">
                                        <div>
                                            <span class="fas fa-key"></span>
                                            <span class="nav-item-text">Login</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Signup", "Users")" style="color: white;">
                                        <div>
                                            <span class="fas fa-user-plus"></span>
                                            <span class="nav-item-text">SignUp</span>
                                        </div>
                                    </a>
                                </li>
                            }
                        }
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <div class="container body-content">
        @RenderBody()
    </div>


    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)

    <script>
        function toggleDropdown(element) {
            const dropdownContent = element.nextElementSibling;

            if (dropdownContent.style.display === 'none' || dropdownContent.style.display === '') {
                dropdownContent.style.display = 'block';
            } else {
                dropdownContent.style.display = 'none';
            }
        }
        window.addEventListener('click', function (event) {
            if (!event.target.closest('.dropdown')) {
                const dropdownContents = document.querySelectorAll('.dropdown-content');
                dropdownContents.forEach(function (dropdownContent) {
                    dropdownContent.style.display = 'none';
                });
            }
        });
        // JavaScript function to toggle the mobile dropdown menu
        function toggleMobileButton() {
            var mobileDropdown = document.getElementById("mobile-dropdown");
            var headerPictureMenuBars = document.getElementById("header-picture-menu-bars");

            // Toggle the visibility of the mobile dropdown menu
            if (mobileDropdown.style.display === "none" || !mobileDropdown.style.display) {
                mobileDropdown.style.display = "block";
            } else {
                mobileDropdown.style.display = "none";
            }

            // Rotate the caret icon when the dropdown is active
            if (mobileDropdown.style.display === "block") {
                headerPictureMenuBars.classList.add("active");
            } else {
                headerPictureMenuBars.classList.remove("active");
            }
        }
    </script>

</body>
</html>
