@model IEnumerable<RMC_Donation.Models.RequestItemWithUserAndItemViewModel>

@{
    ViewBag.Title = "My Requests";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap4.min.css">
    <style>
        body {
            display: block;
        }
    </style>
</head>

<div class="content-wrapper">
    <h2 class="myitemsh">My Requests</h2>
        <table class="table" id="myItemsTable">
            <thead>
                <tr>
                    <th class="text-center">User Photo</th>
                    <th class="text-center">User Name</th>
                    <th class="text-center">Item Name</th>
                    <th class="text-center">Item Category</th>
                    <th class="text-center">Mobile</th>
                    <th class="text-center">Email</th>
                    <th class="text-center">Date & Time</th>
                    <th class="text-center">Status</th>
                    <th class="text-center">Request/Cancel</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td style="text-align:center;">
                            <img src="@item.User.profilephoto" height="50" width="50" style="border-radius:50%;" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.fullname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Item.name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Item.catagory)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.mobile_no)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RequestItem.updatedat)
                        </td>
                        <td>
                            @{
                                string statusText = "";
                                string statusColor = "";

                                if (item.RequestItem.status == 0)
                                {
                                    statusText = "Canceled";
                                    statusColor = "red";
                                }
                                else if (item.RequestItem.status == 1)
                                {
                                    switch (item.RequestItem.approved_status)
                                    {
                                        case 2:
                                            statusText = "Pending";
                                            statusColor = "blue";
                                            break;
                                        case 1:
                                            statusText = "Approved";
                                            statusColor = "green";
                                            break;
                                        case 0:
                                            statusText = "Rejected";
                                            statusColor = "red";
                                            break;
                                        default:
                                            break;
                                    }
                                }
                            }
                            <span style="color: @statusColor">@statusText</span>
                        </td>
                        <td style="text-align:center;">
                            <label class="custom-checkbox">
                                <input type="checkbox" data-id="@item.RequestItem.id" @(item.RequestItem.status == 1 ? "checked" : "") />
                                <div class="checkmark"></div>
                            </label>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script>
        jQuery.noConflict();
        (function ($) {
            $(document).ready(function () {
                $('#myItemsTable').DataTable({
                    "paging": true,
                    "searching": true,
                    "ordering": true,
                });
            });
        })(jQuery);
    </script>
    <script>
        $(document).ready(function () {
            // Handle checkbox change event
            $('input[type="checkbox"]').change(function () {
                var itemId = $(this).data('id');
                var isChecked = $(this).prop('checked');

                var confirmation = confirm("Are you sure you want to Cancle/Accept a given request?");
                if (!confirmation) {
                    return;
                }

                $.ajax({
                    url: '/Request/UpdateRequestStatus',
                    type: 'POST',
                    data: { id: itemId, isChecked: isChecked },
                    success: function (result) {
                        window.location.reload();
                    },
                    error: function () {
                    }
                });
            });
        });
    </script>
}
