@model RMC_Donation.Models.user

@{
    ViewBag.Title = "UserDetails";
}

<h2>UserDetails</h2>

<div>
    <h4>user</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fullname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fullname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dob)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dob)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.profession)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.profession)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mobile_no)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mobile_no)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.profilephoto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.profilephoto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createdat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createdat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.updatedat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.updatedat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastlogin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastlogin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

    </dl>
</div>